SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=
SPOTIFY_REDIRECT_URI=http://127.0.0.1:8888/callback

ACOUSTID_API_KEY=

APP_ENV=development
LOG_LEVEL=INFO

LOCATION_NAME=Hoogeveen
TIMEZONE=Europe/Amsterdam
